<hr>
<div class="container">
<footer>
    <p>&copy; 2017 Minimey, Inc.</p>
</footer>
</div> <!-- /container -->
</body>
<script src="/javascripts/jquery-3.2.1.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
</html>